@font-face {
    font-family: "Raleway";
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway-semibold-webfont.eot');
    src: url('fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff'),
         url('fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;

}

html {
  background: rgb(185, 255, 237);
  min-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  letter-spacing: .1rem;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  background: rgb(185, 255, 237);
  font-size: 1.4rem;
  position: relative;
  text-rendering: optimizeLegibility;
}

body.index-view {
  overflow: hidden;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

#content {
  width: 100%;
  padding: 0;
  margin-top: 0;
  padding-left: 6.9rem;
}
.page,
.post,
.index-content {
  max-width: 170rem;
  padding: 3.6rem 18.4rem 5.4rem;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin: 2rem auto 4rem;
  min-height: 90rem;
  position: relative;
}

.page.welcome {
  min-height: 0;
  margin: 0;
  max-width: 100%;
  border: none;
  padding-top: 6.6rem;
  padding-bottom: 7.2rem;
  border-top-width: 2rem;
  text-align: center;
}

.info-section {
  padding-bottom: 100px;
}

.info-section:after {
  content: "";
  display: block;background-color: rgb(185, 255, 237);
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  }
 
 .info-section p + p {
   padding-bottom: 70px;
 }
 
.page,
.post {
  border-left: 3.6rem solid rgb(185, 255, 237);
  border-right: 3.6rem solid rgb(185, 255, 237);
  padding-bottom: 9.6rem;
}

.active .index-content {
  padding-top: 0;
}

.image-example-title ~ img {
    margin: 100px auto;
    display: block;
    max-width: 100%;
}

.float-left {
  padding: 0 3rem 3rem 0;
}

#content .tile {
  padding: 0 3rem 7rem;
  /*border: #fff solid .1rem;*/
  border-top: none;
  color: #333;
  display: block;
  text-decoration: none;
  overflow: hidden;

  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

#content .grid .tile {
  padding-top: .4rem;
}

#content .tile:before {
  content: "";
  display: block;
  width: 4rem;
  background-color: #222;
  position: absolute;
  width: 100%;
  height: .5rem;
  background-color: rgba(0,0,0,0.1);
  left: 0;
  display: none;
}

#content .tile:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.page-col {
  padding: 0;
}

.second-col {
  padding-left: 4.5rem;
}

hr {
    border-top: .1rem solid #ddd;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #222;
  margin: 4.8rem 0 2.4rem;
  line-height: 2.4rem;
  clear: both;
}

.page-post-title {
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

.page-post-title span {
  display: block;
  font-size: 1.6rem;
  text-transform: lowercase;
}

.page-post-title ~ time {
    margin-bottom: 2.4rem;
    display: block;
    font-family: "Raleway";
}

.page time,
.post time {
    line-height: 2.4rem;
    font-size: 1.2rem;
}

h1:first-letter {
 /* border-top: 3px solid;
  padding-top: 14px;*/
}

.page h1 + *,
.page h2 + *,
.page h3 + *,
.page h4 + *,
.page h5 + *,
.page h6 + *,
.post h1 + *,
.post h2 + *,
.post h3 + *,
.post h4 + *,
.post h5 + *,
.post h6 + * {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

ul,
ol {
  padding: 0;
  margin-bottom: 2.4rem;
}

li {
  list-style-type: none;
  font-size: 1.9rem;
  line-height: 2.4rem;
  padding-left: 2rem;
  text-indent: -2rem;
  margin-bottom: 1rem;
}

.footnote li {
  padding-left: 0;
  text-indent: 0;
}

li a {
  text-indent: 0;
}

li:before {
  content:"\25C6";
  margin-right: 1rem;
  font-size: 1.2rem;
  position: relative;
  top: -.3rem;
}

.footnote li:before {
  display: none;
}

#content .tile h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: .1rem;
  line-height: 2.4rem;
  margin-bottom: 0rem;
  padding: 5.4rem 2.4rem 0;
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  margin-top: 0;
  /*background-color: rgba(255,255,255,0.25);*/
}
#content .tile h2:first-letter {
  /*border-top: 2px solid;
  padding-top: 14px;*/
}

.grid {
  overflow: hidden;
}

.grid time {
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  margin-top: 0;
  /*background-color: rgba(255,255,255,0.25);*/
  padding: 1.2rem 2.4rem 1.2rem;
  margin-bottom: 2.4rem;
  display: block;
}

.grid time,
.grid .read-more {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.grid .read-more {
  line-height: 1.6rem;
}

.read-more:after,
.read-more:before,
#content .grid .tile:after,
#content .grid .tile:before,
.post a:after,
.post a:before,
.page a:after,
.page a:before  {
  content: "";
  display: block;
  height: .2rem;
  background-color: #222;
  width: 100%;

  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.read-more:before,
.page a:before,
.post a:before {
  background-color: #222;
  position: absolute;
  bottom: 0;
  width: 0;
}

.post a:after,
.post a:before,
.page a:after,
.page a:before {
  display: none;
   -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

#content .grid .tile:after,
#content .grid .tile:before {
  background-color: transparent;
  height: .4rem;
  top: 0;
  left: 0;

  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#content .grid .tile:after {
  background-color: coral;
  position: absolute;
  width: 0;
}

#content .grid .tile:hover:before {
  width: 0;
}

#content .grid .tile:hover:after {
  width: 100%;
}




p {
  font-size: 1.7rem;
  line-height: 2.4rem;
}

.page p,
.post p {
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

#content a,
#content a:hover {
  text-decoration: none;
  text-decoration: none;
  color: coral; 
  border-bottom: .2rem solid coral;

  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#content .grid a {
  border-bottom: none;
}

.index-view #content .index-content a {
  border-bottom: .3rem solid coral;
  overflow: hidden;
  margin-left: 7rem;
  line-height: 1.2;
  padding: 1rem 0;
  color: #fff;
  font-size: 2.2rem;
}

.index-view #content .index-content a:hover {
  color: #fff;
  border-bottom-color: coral;
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: .2rem;
}

.index-view #content .index-content a:hover > span {
  padding: 0 1rem;
  background: rgba(255,127,80,.7);
}

.read-more,
.read-more:hover,
.read-more:active {
  color: #333;
  position: absolute;
  bottom: 2.4rem;

  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.page a:hover,
.post a:hover {
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.navigation {
  z-index: 999;
  overflow: hidden;
  position: fixed;
  width: 7rem;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #222;
  text-align: center;
  -webkit-box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
  -moz-box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
  box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
}

.navigation a, 
.navigation .index-anchor-nav {
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  line-height: 2.8rem;
  color: #fff;
  padding: .4rem 0;
  
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.navigation a:hover,
.navigation .index-anchor-nav:hover {
  background: none;
  color: coral;
}

.navigation .logo-link {
  text-decoration: none;
  font-size: 1rem;
  border: none;
  padding: 3rem 0;
}

.navigation .logo-link:hover {
  background: none;
}

.ladder {
  float: right;
  padding: 1.75rem 2rem;
}

.ladder, .step {
  display: block;
}

.step {
  background: #fff;
  height: .1rem;
  width: 3.5rem;
  margin-bottom: .4rem;
}

.top-links a:first-child {
  
}

.index {
  position: fixed;
  z-index: 998;
  bottom: 0;
  right: 0;
  left: 7rem;
  right: 100%;
  left: -100%;
  text-align: center;
  height: 3rem;
  height: 100% !important;
  line-height: 3rem;
  background: rgba(255, 127, 80, .5);
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  opacity: 1;
  
  -webkit-transition: all 1s linear;
  -moz-transition: all 1S linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.index-anchor {
  cursor: pointer;
}

.index-anchor:hover {
  /*color: coral;*/
}

.index-anchor span {
  position:relative;
  width: 10rem;
  display: inline-block;
  margin: 0 auto;
}

.close-x {
  width: 5rem;
  padding-top: 1rem;
}

.index-anchor span:before {
  content: "";
  background: url(/images/index-arrow.png) no-repeat center center;
  background-size: 30px 14px;
  width: 10rem;
  height:5rem;
  position: absolute;
  top: -120%;
  text-align: center;
  left: 0;
  font-size: 3.6rem;
  color: #222;

  animation-name: upAndDown;
  -webkit-animation-name: upAndDown;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.index-anchor:hover span:before {
  /*color: coral;*/
}

.active .index-anchor span {
  font-size: 4rem;
}

.upsidedown {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  display: inline-block;
}

.logo {
  width: 3.4rem;
  /*transform: rotate(180deg);*/
}

.logo-link:hover .logo {
  animation-name: flipLogo;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

@keyframes flipLogo {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(180deg);}
    80% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.copyright,
.copyright a {
  color: #999;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .7rem 1rem;
<<<<<<< Updated upstream
  width: 22rem;
=======
  width: 35rem;
>>>>>>> Stashed changes
  text-align: right;
  line-height: 1;
}

.copyright a {
    width: auto;
    display: inline;
    color: #999;
    border-bottom: 0;
    position: relative;
    padding: 0;
}

.copyright span {
  display: block;
}

h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

h1.welcome-title {
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 7.2rem;
}

h1.welcome-title span {
  display: block;
}

.welcome-1p {
  margin: 0 0 2.4rem;
  max-width: 70rem;
}

.page.welcome div p, .page.welcome div a {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

h2 {
 font-size: 3rem;
 line-height: 3rem;
}

blockquote {
  color: #222;
  padding: 2.4rem 4.8rem 4.8rem !important;
  background-color: #fff;
  border-top: none;
  margin: 2.4rem 0;
  font-size: 2.4rem;
  line-height: 3rem;
  border-left: .2rem solid #eee;
}

figure[is="book-preview"] blockquote {
  clear: both;
  font-size: 2rem;
}
  
.page blockquote p,
.post blockquote p {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

blockquote .author {
  font-size: 1.6rem;
  margin-top: 2.4rem;
  display: inline-block;
  color: coral;
}

blockquote small {
  display: inline;
}

blockquote small:before {
  content: "";
}

mark {
  padding: 0 .6rem;
  color: #fff;
  background-color: lightcoral;
}

.post table,
.page table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 1.6rem;
  width: 100%;
}

.post table td,
.page table td {
  font-size: 2.4rem;
  padding: .6rem 1.2rem;
}

.post table tbody > tr:nth-child(odd) > td,
.post table tbody > tr:nth-child(odd) > td {
  background-color: #eee;
}

th {
  text-align: left;
  background-color: coral;
  color: #fff;
  padding: 0rem 1.2rem;
  font-weight: normal;
  font-size: 2.4rem;
}

.large-table {
  vertical-align: top;
  margin-top: 7.2rem;
}

.large-table tbody > tr:nth-child(even) {
  
}

.large-table th {
 background: transparent;
 color: #222;
 padding-bottom: 2.4rem;
 font-style: italic;
 font-size: 1.3rem;
}

.large-table th:first-child {
  width: 50%;
}

.large-table tr td:first-child {
  white-space: nowrap;
  font-weight: bold;
}

.large-table tr {
  vertical-align: top;
  
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.large-table tr.detail td {
  padding-top: 0;
  white-space: normal;
  font-size: 1.7rem;
  font-weight: 300;
}

.large-table tr.detail td ~ td {
  font-weight: 400;
}

.large-table tr td:first-child + td + td,
.large-table tr th:first-child + th + th {
  display: none;
}



.page .large-table td {
  font-size: 1.6rem;
  padding: 3.6rem 1.2rem 1.2rem;
}

.page .large-table tr td:first-child ~ td {
  font-size: 1.4rem;
}

.entry {
  overflow: visible;
}

.footnote {
  border-top: .1rem solid #ddd;
  margin-top: 7.2rem;
}

.contact-info,
.fullscreen {
  position: absolute;
  bottom: 7rem;
  left: 0;
  width: 7rem;
  margin-bottom: 0;
  text-align: center;
  padding: 1rem 2rem;
}

.contact-info a {
  text-align: center;
  border: none;
}

.contact-info img {
  width: 1.5rem;
}

.fullscreen {
  bottom: 0;
  padding: 2rem 0;
}

.fullscreen img {
  width: 2.2rem;
}

.page blockquote.pT48 {
  padding-top: 4.8rem !important;
}

pre {
  display: block;
  padding: 0;
  margin: 0;
  word-break: break-all;
  word-wrap: break-word;
  background-color: inherit;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

/* books on shelf */
#content .shelf .tile {
  height: 40rem;
  padding: 0;
  position: relative;
  -webkit-perspective: 10rem;
  -moz-perspective: 10rem;
  perspective: 100rem;
}

.book-rect {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.book-rect .book-top,
.book-rect .book-side {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  
}

.book-rect .book-top {
  top: 0;
  height: 5rem;
  background: #222;
}

.book-rect .book-side  {
  transform: rotateY(0deg) translateZ(0px);
  /*border: 2px solid rgba(0,0,0,.1);*/
}
.book-rect .book-top {
  transform: rotateX(90deg) translateZ(25px);
  background: coral;
  /*border: 2px solid rgba(0,0,0,.1);*/
}

#content .shelf {
  float: left;
  width: 100%;
  border: 4.5rem solid #fff;
  border-bottom-width: 10rem;
  border-right-width: 10rem;
  border-left-width: 10rem;
}

#content .shelf .tile .shelf-author {
  background-color: rgba(255,255,255,0.25);
  display: block;
  padding: 2.4rem 1.2rem;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#content .shelf .tile {
  overflow: hidden;
  border: none;
  min-width: 10%;
  max-width: 25%;
}

#content .shelf .tile:active > *,
#content .shelf .tile:hover > * {
  background: coral !important;

  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#content .shelf .tile h2 {
  margin-left: 0;
  margin-right: 0;
  padding: 3.6rem 1.2rem;
  text-align: center;
  font-size: 1.4rem
}

#content .shelf .tile:hover {
  box-shadow: 0rem 1.5rem 1rem .5rem rgba(0,0,0,0.25);
  overflow: visible;
  z-index: 99;
  perspective-origin: top center;
}

#content .shelf .tile:hover .book-rect {
  transform: translateZ(50px) rotateX( -10deg );
  z-index: 99;
}

#content .shelf .tile:hover .book-side  {
  background: red;
  transform: rotateY(0deg) translateZ(25px);
}

.index.active {
  height: 100% !important;
  left: 0;
  right: 0;
  
  bottom: 0;
  background: rgba(251,187,164,.9);
  
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  overflow-y: scroll;
}

.index.active.opaque {
  /*opacity: 1;*/
  /*-webkit-transition: all 250ms ease-in-out .25s;*/
  /*-moz-transition: all 250ms ease-in-out .25s;*/
  /*-o-transition: all 250ms ease-in-out .25s;*/
  /*transition: all 250ms ease-in-out .25s;*/
  /*visibility: visible;*/
}

.index-content {
  text-align: left;
  background-color: transparent;
}

.shelf-shelf {
  display: block;
  width: 100%;
  clear: both;
  height: 3.5rem;
  background: #fff;  
}

#loader {
  background: #222;
  height: 10000px;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 9999;
  /*border-right: 7rem solid #fff;
  border-left: 7rem solid #fff;*/
  /*webkit-box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
  -moz-box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
  box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);*/

  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

#loader.reveal {
  opacity: 0;
}

.loader-img {
  display: none;
  font-family: "Raleway", sans-serif;
  width: 200px;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  animation-name: toggleFade;
  -webkit-animation-name: toggleFade;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.loader-img div {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: color .35s linear;
  -moz-transition: color .35s linear;
  -o-transition: color .35s linear;
  transition: color .35s linear;
}

#loader .loader-img span {
  font-style: italic;
  text-align: center;
}

.navigation * {
  opacity: 0;
}

.navigation.reveal * {
  opacity: 1;
}

.post-view-post {
  display: block;
  text-align: left;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.post-view-post span {
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
}

.post-view-post span + span {
  float: right;
  text-align: right;
}

figure[is=book-preview] {
  
  background: #fff;
  color: #333;
  overflow: hidden;
  display: none;
  width: 50%;
  margin: 0 auto;
  padding: 7.2rem 4.8rem 9.4rem;
  font-size: 1rem;
  position: absolute;
  box-shadow: 0rem 0rem 1rem .2rem rgba(0,0,0,0.05);

  /*-webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;*/
}

figure[is=book-preview].show-book-preview {
  display: block;
  position: static;
  z-index: 1000;
  opacity: 1;

  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.fadein {
  display: block !important;
  opacity: 0;
  z-index: -1;

  /*-webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;*/
}

figure[is=book-preview] span {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

figure[is=book-preview] .subtitle {
  font-weight: bold;
  margin-top: -1.6rem;
  margin-bottom: 2.4rem;
  font-size: 2rem;
}

figure[is=book-preview] .subtitle + span {
  text-transform: capitalize;
}

figure[is=book-preview] .author {
  font-size: 1.6rem;
}

figure[is=book-preview] img {
  max-height: 200px;
  max-width: 300px;
  float: left;
  margin-right: 2.4rem;
  margin-bottom: 2.4rem;
  display: block;
}

keyboard-arrows,
keyboard-arrows kbd {
  display: none;
  text-align: center;
  padding: 0;
  margin:0;
  font-size: 1.2rem;
  color: #fff;
  background-color: transparent;
  border-radius: .3rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}

figure[is=book-preview].show-book-preview ~ keyboard-arrows,
figure[is=book-preview].show-book-preview ~ keyboard-arrows kbd {
  display: block;
}

keyboard-arrows {
  padding: 3.6rem 4.8rem;
}

keyboard-arrows span {
  background: #fff;
  /*border: .2rem outset #eee;*/
  color: #222;
  display: inline-block;
  vertical-align: middle;
  padding: .2rem 1.2rem;
  cursor: pointer;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: .4rem;
  margin: .3rem .2rem;
}

keyboard-arrows kbd + kbd {
  margin-top: -.3rem;
}

keyboard-arrows img {
  height: 45px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

keyboard-arrows span:not(.disabled):hover {
  background: coral;
  border-color: coral;
  cursor: pointer;
  color: #fff;
}

.pageNavigation {
  font-size: 1.2rem;
}

.disabled {
  background: #555;
}

#content > * > * {
  opacity: 0;
}

#content > .index > .index-content,
#content > .index > .index-anchor {
  opacity: 1;
}

.index-view {
  position: fixed;
}

#loader span {
  display: block;
  text-align: center;
  margin: 30px 0 0;
  color: #fff;
}

/* timeline */
.timeline svg {position: absolute; top: 12px;}
.timeline {position: relative; margin: 0 auto; overflow: hidden;}
.timeline div {
    padding: 0;
    padding-left: 120px;
    font-size: 20px;
    position: relative;
    display: block;
    line-height: 24px;
    clear: both;
    font-family: sans-serif;
    color: #222;
    margin: 10px 0 20px;
} 
.timeline div:before {
    content: attr(data-date);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 75px;
    overflow: hidden;
    font-size: 12px;
    text-align: right;
}

.timeline div:after {
    content: ' ';
    position: absolute;
    left: 85px;
    top: 0px;
    width: 25px;
    display: block;
    overflow: hidden;
    background: #FF7F50;
    height: 2px;
    margin: 11px 0;
}

.video-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* resume */
#content .resume-details {
  margin-top: 2.4rem;
  margin-bottom: 9.6rem;
}

#content .resume-titles {
    line-height: 2rem; 
    text-transform: capitalize;
}

#content .resume-details table {
  width: 50%;
}

#content .resume-details * {
  font-size: 1.4rem;
  color: #222;
  padding: 0;
  padding-right: 20px;
  border: none;
}

#content .resume-details *:before,
#content .resume-details *:after {
  display: none;
}

.resume + h4 {
  margin-top: 0;
}

.resume ~ h4 {
  margin-bottom: .6rem;
}

.top-links {
  padding-top: 2rem;
}

 .page.welcome > div {
  position: relative;
  text-align: left;
 }

 .playground-img {
  width: 100%;
  max-width: 500px;
 }

.page.welcome > .welcome-img-container {
    position: absolute;
    z-index: 0;
    left: 35%;
    opacity: .5;
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
  
  .page.welcome {
    text-align: center;
  }

  .welcome-img-container {
    display: none;
  }

  #content {
    padding: 0;
    margin: 0;
    margin-top: 5rem;
  }

  h1.welcome-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  
  .index-view #content .index-content a {
    margin-left: 0;
  }

  blockquote {
    color: #222;
    padding: 2.4rem 0 4.8rem !important;
    background-color: #fff;
    border-top: .2rem solid #eee;
    border-bottom: .2rem solid #eee;
    margin: 2.4rem 0;
    font-size: 2.4rem;
    line-height: 3rem;
    border-left: none;
  }

  .index-view #content .index-content a {
    border-bottom: .3rem solid coral;
  }

  .page,
  .post {
    border-left: none;
    border-right: none;
  }

  .post-view-post {
    line-height: 2.6rem;
    margin-bottom: 2.6rem;
  }
  .page time, .post time,
  .grid time, .grid .read-more,
  #content .shelf .tile .shelf-author {
    font-size: 1.4rem;
  }

  #content .shelf .tile:hover {
    box-shadow: none;
    overflow: hidden; 
    z-index: 1; 
  }

  #content .resume-details td,
  #content .resume-details tr {
    display: block;
  }
  #content .resume-details td,
  #content .resume-details a {
    padding-right: 0;
    padding-bottom: 1.2rem;
    border: none;
  }

  #content .resume-details table {
    width: 100%;
  }

  #content .shelf .tile:hover .book-rect,
  #content .shelf .tile:hover .book-side {
    transform: none;
  }

  keyboard-arrows span {
    background: #fff;
    border: .4rem outset #eee;
    color: #222;
    display: inline-block;
    vertical-align: top;
    height: 3.7rem;
    line-height: 3rem;
    width: 3.7rem;
    pointer: cursor;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem;
    margin: .4rem;
  }

  figure[is=book-preview] span {
    font-size: 1.6rem;
  }

  .tile {
    height: auto !important;
    min-height: auto !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  #content .shelf {
    overflow: hidden;
    float: none;
  }

  .shelf-shelf {
    display: none;
  }

  #content .shelf .tile {
    height: 25rem !important;
  }

  .navigation {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-transition: all 500ms ease-in .25s;
    -moz-transition: all 500ms ease-in .25s;
    -o-transition: all 500ms ease-in .25s;
    transition: all 500ms ease-in .25s;
  }

  .ladder {
    cursor: pointer;
  }

  .navigation a {
    font-size: 1.8rem;
    padding: 3.2rem 2.2rem;
  }

  .top-links {
    text-align: right;
    clear: both;
  }

  .navigation.navOpen {
    height: 100%;
    bottom: 0;
  }

  .index {
    left: 0;
  }

  .navigation div:first-child {
    padding: 0;
  }

  .logo-link {
    float: left;
  }

  .logo {
    width: 2.5rem;
    position: relative;
    top: -.2rem;
  }

  .navigation .logo-link {
    display: inline-block;
    line-height: 5rem;
    padding: 0;
    padding-left: 2.5rem;
  }

  .page,
  .post,
  .index-content,
  .page.welcome {
    padding: .6rem 2.5rem 2rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  .index-content {
    margin-top: 2rem;
  }

  .pageNavigation {
    font-size: 1.8rem;
  }
  
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  
  #content .shelf {
    border-right-width: 2rem;
    border-left-width: 2rem;
  }
  
  .index.active {
    padding-top: 5rem;
  }
  
  .page.welcome {
    min-height: 0;
  }
  
  .index {
      height: 3rem !important;
      left: 0;
      right: 0;
  }
  .index.active {
    height: 100% !important;
  }
  
  .index-view #content .index-content a:hover {
    color: coral;
    border-bottom-color: coral;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 2.6rem;
    letter-spacing: .1rem;
  }

    .index-view #content .index-content a:hover > span {
      padding: 0;
      background: none;
    }
}

@media (max-width: 420px) {
  .col-xxs-12 {
    width: 100%;
    margin: 0 auto;
    float: none !important;
  }
}

@media (min-width: 768px) {
  .navigation {
    min-height: 58rem;
    letter-spacing: 1.5px;
  }
  
  figure[is=book-preview] h2 {
    margin-top: 0;
  }
  
  #content .grid {
    padding: 0 0 2rem 0;
  }

  #content .grid .tile {
    min-height: 30rem;
  }

  #content .grid .tile:hover {
    background: #fff !important;
    box-shadow: 0rem 0rem 1rem .2rem rgba(0,0,0,0.15);
    z-index: 2;
  }

  #content .grid .tile:hover * {
    
  }

  #content .grid .tile:hover .read-more {

  }

  .grid .tile:hover .read-more:after,
  .page a:hover:after,
  .post a:hover:after {
    width: 0;
  }

  .grid .tile:hover .read-more:before,
  .page a:hover:before,
  .post a:hover:before {
    width: 100%;
  }

  #content .page a,
  #content .post a {
    position: relative;
    display: inline-block;
    border: none;
  }

  .post a:after,
  .post a:before,
  .page a:after,
  .page a:before {
    display: block;
    background-color: coral;
  }
  
  sup a:after, sup a:before {
      display: none !important;
  }
 
  /* sticky header homepage */
  .sticky-header .welcome-img-container,
  .sticky-header .welcome-1p {
    display: none;
  }

  .sticky-header #content .grid {
    padding-top: 6rem;
  }

  .sticky-header .page.welcome > div {
    text-align: right;
  }

  .sticky-header .page.welcome {
    background: transparent;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 6rem;
  }
  
  .sticky-header .grid {
    padding-top: 6rem;
  }

  .sticky-header .welcome-title {
    padding: 0;
    margin: 0;
    text-align: left;
    float: left;
    font-size: 1.7rem;
    margin-left: 10.4rem;
  }

  .sticky-header .welcome-title span {
    display: inline;
  }

  .sticky-header .welcome-links {
    padding: 1rem 2.4rem;
  }

  .sticky-header #content .welcome-links a {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .index {
    height: 0;
  }

  .index-anchor {
    display: none;
  }

  .active .index-anchor {
    display: block;
  }

  .index-anchor-nav {
    color: #fff;
    display: block;
    font-size: 12px;
    cursor: pointer;
    padding: .9rem 0;
    
    line-height: 2.8rem;
  }

  .page-layout .index-anchor-nav {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .page,
  .post,
  .index-content,
  .page.welcome {
    padding: 3.6rem 8.4rem 5.4rem;
  }
  #content .shelf {
    border-right-width: 6rem;
    border-left-width: 6rem;
  }

  #content .grid .tile {
    min-height: 50rem;
  }
}

@media (max-width: 960px) {
  .large-table,
  .large-table > *,
  .large-table > * > *,
  .large-table > * > * > * {
    display: block;
  }

  .large-table th {
    display: none;
  }

  .large-table tr {
    border: none;
  }

  .large-table tr.detail {
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .large-table tr.detail td:first-child {
    padding-top: 0;
    font-weight: 300;
  }

  .page .large-table tr td {
    padding-top: 0;
    padding-bottom: 2.4rem;
  }

  .large-table tr td:first-child {
    font-weight: bold;
    padding-top: 1.8rem;
  }

  .large-table th:first-child {
    width: auto;
  }

  .large-table tr td:first-child {
    font-size: 1.6rem;
  }

  .page .large-table tr td:first-child ~ td {
    font-size: 1.7rem;
  }
}

@media (max-width: 1200px) {
  .second-col {
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  .col-xl-2 {
    float: left;
    width: 16.66666667%;
  }

  .col-xl-2_4 {
    float: left;
    width: 20%;
  }

   #content .grid .tile {
    min-height: 50rem;
  }
}

@media (min-width: 1900px) {
  .col-xxl-1_5 {
    float: left;
    width: 12.5%;
  }
}

@media (max-width: 767px) {
  #content .grid .tile:after,
  #content .grid .tile:before {
    display: none;
  }

  #content > * > * {
    opacity: 1;
  }

  .navigation .index-anchor-nav {
    display: none;
  }
  
  figure[is=book-preview] img {
    float: none;
    margin: 0 auto;
  }

  #content .welcome-links a { 
    border-bottom: .2rem solid
  }
}

::-moz-selection { 
    color: #fff;
    background: coral; /*#43DAA4;*/
}

::selection {
    color: #fff; 
    background: coral; /*#43DAA4;*/
}

.hidden-fullscrn:-webkit-full-screen {
  display: none;
}

.hidden-fullscrn:-moz-full-screen {
  display: none;
}

.hidden-fullscrn:-ms-fullscreen {
  display: none;
}

.hidden-fullscrn:fullscreen {
  display: none;
}


/*
 * animations
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes upAndDown {
  0% {
    top: -120%;
    opacity: 0.7;   
  }
  25% {
    top: -140%;
    opacity: 1; 
  }
  50% {
    top: -160%;
    opacity: 1; 
  } 
  75% {
    top: -140%;
    opacity: .7; 
  }
  100% {
    top: -120%;
    opacity: 0.5;   
  }     
}

@-webkit-keyframes upAndDown {
  0% {
    top: -120%;
    opacity: 0.7;   
  }
  25% {
    top: -140%;
    opacity: 1; 
  }
  50% {
    top: -160%;
    opacity: 1; 
  } 
  75% {
    top: -140%;
    opacity: .7; 
  }
  100% {
    top: -120%;
    opacity: 0.5;   
  }      
}

@keyframes toggleFade {
  0% {
    opacity: 0.2;   
  }
  25% {
    
    opacity: .5; 
  }
  50% {
    
    opacity: 1; 
  } 
  75% {
    
    opacity: .5; 
  }
  100% {
    
    opacity: 0.2;   
  }     
}

@-webkit-keyframes toggleFade {
  0% {
    opacity: 0.2;   
  }
  25% {
    
    opacity: .5; 
  }
  50% {
    
    opacity: 1; 
  } 
  75% {
    
    opacity: .5; 
  }
  100% {
    
    opacity: 0.2;   
  }     
}

/** Basic styles for an animated element */
.scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

/** An element that fades in */
.scene_element--fadein {
    animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
    animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
    animation-name: fadeInRight;
}

.is-exiting .scene_element {
    animation-direction: alternate-reverse;
}
