body {
  font-family: "Jaldi", "Raleway", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  font-size: 1.4rem;
}
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}
#content {
  width: 100%;
  padding: 0;
  margin-top: 0px;
  padding-left: 99px;
}
.page,
.post {
  max-width: 960px;
  padding: 40px 45px 20px;
  overflow: hidden;
}

.float-left {
  padding: 0 20px 20px 0;
}

#content .tile {
  padding: 0px 25px 100px;
  border: #fff solid 1px;
  border-top: none;
  color: #333;
  display: block;
  text-decoration: none;
  overflow: hidden;
}
#content .tile:before {
  content: "";
  display: block;
  width: 40px;
  background-color: #222;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgba(0,0,0,0.1);
  left: 0;
}
#content .tile:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Jaldi", sans-serif;
  font-weight: 600;
  color: #222;
  margin: 45px 0 20px;
  clear: both;
}

h1:first-letter {
  border-top: 3px solid;
  padding-top: 14px;
}

#content .tile h2 {
  font-size: 2.6rem;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 3.2rem;
  margin-bottom: 0rem;
  padding: 40px 25px 5px;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: 0;
  background-color: rgba(255,255,255,0.25);
}
#content .tile h2:first-letter {
  border-top: 2px solid;
  padding-top: 14px;
}
time {
  margin-left: -25px;
  margin-right: -25px;
  margin-top: 0;
  background-color: rgba(255,255,255,0.25);
  padding: 0 25px 20px;
  display: block;
  margin-bottom: 1.6rem;
}
time,
.read-more {
  font-size: 1.3rem;
}

.read-more {
  text-decoration: underline;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.page p,
.post p {
  font-size: 1.9rem;
  line-height: 2.6rem;
}

#content a,
#content a:hover,
#content a:active {
  text-decoration: none;
  text-decoration: underline;
  color: #43DAA4;
}
.read-more,
.read-more:hover,
.read-more:active {
  color: #333;
  position: absolute;
  bottom: 30px;
}
.navigation {
  z-index: 999;
  overflow: hidden;
  position: fixed;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #222;
  text-align: center;
  -webkit-box-shadow: -6px -2px 5px 7px rgba(0,0,0,0.49);
  -moz-box-shadow: -6px -2px 5px 7px rgba(0,0,0,0.49);
  box-shadow: -6px -2px 5px 7px rgba(0,0,0,0.49);
}
.navigation div:first-child {
  padding: 40px 0;
}
.navigation a {
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  line-height: 2.8rem;
  color: #fff;
  padding: 4px 20px;
  border-bottom: 1px solid #111;
}
.navigation a:hover {
  background: none;
  color: #43DAA4;
}
.navigation .logo-link {
  text-decoration: none;
  font-size: 1rem;
  border: none;
}
.navigation .logo-link:hover {
  background: none;
}
.ladder {
  float: right;
  padding: 17.5px 20px;
}
.ladder, .step {
  display: block;
}
.step {
  background: #fff;
  height: 1px;
  width: 35px;
  margin-bottom: 4px;
}
.top-links a:first-child,
.fullscreen {
  border-top: 1px solid #111;
}
.index {
  position: fixed;
  z-index: 998;
  bottom: 0;
  right: 0;
  left: 100px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background: rgba(0,0,0,.7);
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
.index-anchor {
  cursor: pointer;
}
.index-anchor:hover {
  color:#43DAA4;
}
.upsidedown {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  display: inline-block;
}
.logo {
  width: 48px;
}
.copyright {
  color: #ccc;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 7px 10px;
  width: 200px;
  text-align: right;
}

.copyright span {
  display: block;
}

h1 {
  font-size: 4rem;
}

blockquote {
  padding: 4rem 3rem;
}

blockquote p {
  font-size: 2rem;
  line-height: 3rem;
}
blockquote .author {
  font-size: 1.6rem;
}

.contact-info,
.fullscreen {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100px;
  margin-bottom: 0;
  text-align: center;
  padding: 10px 20px;
}

.contact-info a {
  text-align: center;
  border: none;
}

.contact-info img {
  width: 15px;
}

.fullscreen {
  bottom: 10px;
}

.fullscreen img {
  width: 28px;
}

@media (max-width: 768px) {
  .tile {
    height: auto !important;
  }
  .navigation {
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .navigation a {
    padding: 30px 20px;
  }
  .top-links {
    text-align: right;
    clear: both;
  }
  .navigation.navOpen {
    height: 100%;
    bottom: 0;
  }
  #content {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }
  .index {
    left: 0;
  }
  .navigation div:first-child {
    padding: 0;
  }
  .logo-link {
    float: left;
  }
  .logo {
    width: 25px;
    position: relative;
    top: -2px;
  }
  .navigation .logo-link {
    display: inline-block;
    line-height: 50px;
    padding: 0;
    padding-left: 25px;
  }

  .page,
  .post {
    padding: 0 25px 20px;
  }
}

@media (min-width: 769px) {
  .navigation {
    min-height: 500px;
  }
}

@media (min-width: 1400px) {
  .col-xl-2 {
    float: left;
    width: 16.66666667%;
  }
}

@media (min-width: 1900px) {
  .col-xxl-1_5 {
    float: left;
    width: 12.5%;
  }
}

::-moz-selection { 
    color: #fff;
    background: #43DAA4;
}

::selection {
    color: #fff; 
    background: #43DAA4;
}

