body {
  font-family: "Jaldi", "Raleway", sans-serif;
  letter-spacing: .1rem;
  width: 100%;
  margin: 0 auto;
  background: rgb(185, 255, 237);
  font-size: 1.4rem;
}
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}
#content {
  width: 100%;
  padding: 0;
  margin-top: 0;
  padding-left: 9.9rem;
}
.page,
.post {
  max-width: 108rem;
  padding: 3.6rem 18.4rem 5.4rem;
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin: 2rem auto 4rem;
}

.float-left {
  padding: 0 3rem 3rem 0;
}

#content .tile {
  padding: 0 2.4rem 10rem;
  border: #fff solid .1rem;
  border-top: none;
  color: #333;
  display: block;
  text-decoration: none;
  overflow: hidden;
}
#content .tile:before {
  content: "";
  display: block;
  width: 4rem;
  background-color: #222;
  position: absolute;
  width: 100%;
  height: .5rem;
  background-color: rgba(0,0,0,0.1);
  left: 0;
}
#content .tile:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.page-col {
  padding: 0;
}

.second-col {
  padding-left: 4.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #222;
  margin: 4.8rem 0 2.4rem;
  line-height: 2.4rem;
  clear: both;
}

h1:first-letter {
 /* border-top: 3px solid;
  padding-top: 14px;*/
}

ul {
  padding: 2rem 0;
}

li {
  list-style-type: none;
  font-size: 1.9rem;
}

li:before {
  content:"\25C6";
  margin-right: 1rem;
  font-size: 1.2rem;
  position: relative;
  top: -.3rem;
}

#content .tile h2 {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: .1rem;
  line-height: 2.4rem;
  margin-bottom: 0rem;
  padding: 3.6rem 2.4rem 2.4rem;
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  margin-top: 0;
  background-color: rgba(255,255,255,0.25);
}
#content .tile h2:first-letter {
  /*border-top: 2px solid;
  padding-top: 14px;*/
}
time {
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  margin-top: 0;
  background-color: rgba(255,255,255,0.25);
  padding: 0 2.4rem 2.4rem;
  display: block;
  margin-bottom: 1.2rem;

  display: none;
}
time,
.read-more {
  font-size: 1.3rem;
  line-height: 2.4rem;
}

.read-more {
  text-decoration: underline;
}

p {
  font-size: 1.7rem;
  line-height: 2.4rem;
}
.page p,
.post p {
  font-size: 1.9rem;
  line-height: 2.4rem;
}

#content a,
#content a:hover,
#content a:active {
  text-decoration: none;
  text-decoration: underline;
  color: coral; /*#43DAA4;*/
}
.read-more,
.read-more:hover,
.read-more:active {
  color: #333;
  position: absolute;
  bottom: 2.4rem;
}
.navigation {
  z-index: 999;
  overflow: hidden;
  position: fixed;
  width: 10rem;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #222;
  text-align: center;
  -webkit-box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
  -moz-box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
  box-shadow: -.6rem -.2rem .5rem .7rem rgba(0,0,0,0.49);
}
.navigation div:first-child {
  padding: 4rem 0;
}
.navigation a {
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  line-height: 2.8rem;
  color: #fff;
  padding: .4rem 2rem;
  border-bottom: .1rem solid #111;
}
.navigation a:hover {
  background: none;
  color: coral;
}
.navigation .logo-link {
  text-decoration: none;
  font-size: 1rem;
  border: none;
}
.navigation .logo-link:hover {
  background: none;
}
.ladder {
  float: right;
  padding: 1.75rem 2rem;
}
.ladder, .step {
  display: block;
}
.step {
  background: #fff;
  height: .1rem;
  width: 3.5rem;
  margin-bottom: .4rem;
}
.top-links a:first-child {
  border-top: .1rem solid #111;
}
.index {
  position: fixed;
  z-index: 998;
  bottom: 0;
  right: 0;
  left: 10rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  background: rgba(0,0,0,.7);
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
.index-anchor {
  cursor: pointer;
}
.index-anchor:hover {
  color: coral;
}
.upsidedown {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  display: inline-block;
}
.logo {
  width: 4.8rem;
}
.copyright {
  color: #ccc;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .7rem 1rem;
  width: 20rem;
  text-align: right;
}

.copyright span {
  display: block;
}

h1 {
  font-size: 4rem;
  line-height: 4.8rem;
}

blockquote {
  padding: 0 3rem;
  background-color: rgba(255,255,255,0.5);
  margin: 4.8rem 0;
  border-left-width: .3rem;
  border-left-color: #ccc;
  font-size: 2.2rem;
  line-height: 2.4rem;
}

blockquote p {
  font-size: 2rem;
  line-height: 2.4rem;
}
blockquote .author {
  font-size: 1.6rem;
}

.contact-info,
.fullscreen {
  position: absolute;
  bottom: 7rem;
  left: 0;
  width: 10rem;
  margin-bottom: 0;
  text-align: center;
  padding: 1rem 2rem;
}

.contact-info a {
  text-align: center;
  border: none;
}

.contact-info img {
  width: 1.5rem;
}

.fullscreen {
  bottom: 0;
  padding: 2rem 0;
}

.fullscreen img {
  width: 2.2rem;
}

@media (max-width: 768px) {
  #content {
    padding: 0;
    margin: 0;
    margin-top: 5rem;
  }
  .tile {
    height: auto !important;
  }
  .navigation {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .navigation a {
    padding: 3rem 2rem;
  }
  .top-links {
    text-align: right;
    clear: both;
  }
  .navigation.navOpen {
    height: 100%;
    bottom: 0;
  }
  .index {
    left: 0;
  }
  .navigation div:first-child {
    padding: 0;
  }
  .logo-link {
    float: left;
  }
  .logo {
    width: 2.5rem;
    position: relative;
    top: -.2rem;
  }
  .navigation .logo-link {
    display: inline-block;
    line-height: 5rem;
    padding: 0;
    padding-left: 2.5rem;
  }

  .page,
  .post {
    padding: 0 2.5rem 2rem;
  }
}

@media (min-width: 769px) {
  .navigation {
    min-height: 50rem;
  }
}

@media (max-width: 1200px) {
  .second-col {
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  .col-xl-2 {
    float: left;
    width: 16.66666667%;
  }
}

@media (min-width: 1900px) {
  .col-xxl-1_5 {
    float: left;
    width: 12.5%;
  }
}

::-moz-selection { 
    color: #fff;
    background: coral; /*#43DAA4;*/
}

::selection {
    color: #fff; 
    background: coral; /*#43DAA4;*/
}

.hidden-fullscrn:-webkit-full-screen {
  display: none;
}

.hidden-fullscrn:-moz-full-screen {
  display: none;
}

.hidden-fullscrn:-ms-fullscreen {
  display: none;
}

.hidden-fullscrn:fullscreen {
  display: none;
}
