---
layout: shelf
---

{% for book in site.shelf %}
    <div class="tile col-xs-12" style="width:{{book.pages}}px" data-title="{{ book.title }}">
      <div class="book-rect">

      	<div class="book-top"></div>
      	<div class="book-side">
      		<h2>{{ book.title }}</h2>
      		<span class="shelf-author">by {{ book.author }}</span>
      	</div>
      </div>     
    </div>

    {% capture currentmod %}{{ forloop.index | modulo:4 }}{% endcapture %}
    
    {% if currentmod == '0' %}
    	<div class="shelf-shelf"></div>
    {% endif %}

{% endfor %}