---
layout: shelf
---

{% for book in site.shelf %}
    <div class="tile col-xs-12" style="width:{{book.pages}}px" data-title="{{ book.title }}">
      <div class="book-rect">

      	<div class="book-top"></div>
      	<div class="book-side">
      		<h2>{{ book.title }}</h2>
      		<span class="shelf-author">by {{ book.author }}</span>
      	</div>
      </div>     
    </div>

    {% capture currentmod %}{{ forloop.index | modulo:4 }}{% endcapture %}
    
    {% if currentmod == '0' %}
    	<div class="shelf-shelf"></div>
    {% endif %}

{% endfor %}

{% for book in site.shelf %}
  <book-preview
    data-img="{{ book.cover }}"
    data-title="{{ book.title }}"
    data-subtitle="{{ book.subtitle }}"
    data-author="{{ book.author }}"
    data-pages="{{ book.pages }}"
    data-publisher="{{ book.publisher }}"
    data-isbn-13="{{ book.isbn-13 }}"
    data-review="{{ book.review }}"
    data-review-author="{{ book.review-author }}">
  </book-preview>
{% endfor %}

<keyboard-arrows>
    <kbd><span class="disabled">&#8593;</span></kbd>
    <kbd><span>&#8592;</span><span class="disabled">&#8595;</span><span>&#8594;</span></kbd>
</keyboard-arrows>

<style>
    keyboard-arrows,
    keyboard-arrows kbd {
        display: block;
        text-align: center;
    }

    keyboard-arrows span {
        border: 3px outset #eee;
        color: #999;
        display: inline-block;
        vertical-align: top;
        height: 30px;
        line-height: 30px;
        width: 30px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 0;
    }
    
    keyboard-arrows span:hover {
        background: #eee;
    }
    
    .disabled {
        opacity: .5;
    }
</style>
