<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Jaldi:400,700|Raleway:400,500,700,600' rel='stylesheet' type='text/css'>

<!-- bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel='stylesheet' type='text/css'>

<!-- main css -->
<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/highlightjs/github.css" type="text/css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

<!-- js -->
<script src="{{ site.baseurl }}/js/vendor/webcomponents.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- <script src="/js/vendor/jquery.smoothState.js"></script> -->
<script src="{{ site.baseurl }}/js/vendor/highlight.pack.js"></script>