<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- bootstrap -->
<link href="{{ site.baseurl }}/css/vendor/bootstrap.min.css" rel='stylesheet' type='text/css'>

<!-- main css -->
<link rel="stylesheet" href="/css/main.css" type="text/css">
<link rel="stylesheet" href="/css/vendor/highlightjs/github.css" type="text/css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

<!-- js -->
<script src="{{ site.baseurl }}/js/vendor/webcomponents.js"></script>
<script src="{{ site.baseurl }}/js/vendor/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/highlight.pack.js"></script>