---
layout: default
---

<article class="book scene_element scene_element--fadein">
	
	
		<!-- <img src="{{ page.cover }}" />

		<span class="book-title">{{ page.title }}</span>
		{% if page.subtitle != null %}
			<h4>{{ page.subtitle }}</h4>
		{% endif %}

		<span class="book-author">{{ page.author }}</span>
		<span class="book-pages">{{ page.pages }}</span>
		<span class="book-summary">{{ page.summary }}</span>
 -->
 	<span class="book-title">{{ page.title }}</span>

	<div class="entry">
    	{{ content }}
  	</div>
		
</article>