<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% include base-css-js.html %}
  </head>

  <body>
    <nav class="navigation">   
      <div>
        <a href="#" class="logo-link"><img class="logo" src="{{ site.baseurl }}images/am-logo-flat.png" /></a>
      </div>
      <div class="top-links">
        <a href="#">about</a>  
        <a href="#">shelf</a>
        <a href="#">contact</a>
      </div>

      <small class="hiiden-xs copyright">
        <span>&copy; 2015</span>
        <span>aaron moradi<span>
      </small>
      
    </nav>

    
    <div id='content'>
      {{ content }}
    </div>

    <!-- main js -->
    <script src="{{ site.baseurl }}/js/main.js"></script>

    {% include analytics.html %}
  </body>
</html>
