<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% include base-css-js.html %}
  </head>

  <body>
    <nav class="navigation">   
      <div>
        <a href="#" class="logo-link"><img class="logo" src="{{ site.baseurl }}images/am-logo.png" /></a>
      </div>
      <div class="top-links">
        <a href="#">about</a>
        <a href="#">work</a>  
        <a href="#">shelf</a>
        <a href="#">contact</a>
      </div>
    </nav>

    <aside class="index">
      <span class="index-anchor"><span>index</span></span>
    </aside>

    <div id='content'>
      {{ content }}
    </div>

    <footer class="container">
      <span class="pull-left copyright">&copy; 2015 aaron bijan moradi</span>
      <a href="#">linkedin</a><a href="#">twitter</a><a href="mailto:moradi.aaron@gmail.com">email</a>
      {% include svg-icons.html %}
    </footer>

    <!-- main js -->
    <script src="{{ site.baseurl }}/js/main.js"></script>

    {% include analytics.html %}
  </body>
</html>
