<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
    {% include meta.html %}
    {% include base-css-js.html %}
  </head>

  <body>
    <div>
      <nav class="navigation hidden-fullscrn scene_element scene_element--fadein">   
        <div>
          <a href="/index.html" class="logo-link"><img class="logo" src="/images/am-logo-flat.png" /></a>
          <span class="visible-xs ladder">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </span>
        </div>

        <div class="top-links">
          <a href="/about.html">about</a>
          <a href="/about.html">work</a>   
          <a href="/shelf.html">shelf</a>
          <a href="/contact.html">contact</a>
        </div>

        <address class="hidden-xs contact-info">
          <a title="Linkedin" target="_blank" href="http://www.linkedin.com/pub/aaron-moradi/47/61b/71a/"><img src="/images/iconmonstr-linkedin-icon-256.png" /></a>
          <a title="GitHub" target="_blank" href="https://github.com/amoradi"><img src="/images/iconmonstr-github-icon-256.png" /></a>
          <a title="Twitter" target="_blank" href="https://twitter.com/AaronMoradi"><img src="/images/iconmonstr-twitter-icon-256.png" /></a>
          <a title="Email" target="_blank" href="mailto:moradi.aaron@gmail.com"><img src="/images/iconmonstr-email-3-icon-256.png" /></a>
        </address>

        <span class="hidden-xs fullscreen" title="Fullscreen">
          <img class="hidden-xs" src="/images/fullscreen-diamond.png" />
        </span>

        <small class="hidden-xs copyright">
          <span>&copy; 2015 aaron moradi</span>
        </small>
        
      </nav>

      
      <div id='content'>
        {{ content }}
      </div>
    </div>
    <div id="loader"></div>
    <!-- main js -->
    <script src="{{ site.baseurl }}/js/main.js"></script>
  </body>
</html>
