---
layout: default
---

<article class="post">
  <!-- <a class="hidden-xs back" href="javascript:history.back()">&larr; back</a> -->
  <div class="pageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&#10094; {{page.previous.title}}</a>&nbsp;&nbsp;
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &#10095;</a>
  {% endif %}
  </div>

  <h1 class="page-post-title">{{ page.title }}</h1>
  {% if page.subtitle != null %}
  	<h4>{{ page.subtitle }}</h4>
  {% endif %}
  <time class="post-date">Written on {{ page.date | date: "%B %e, %Y" }}</time>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
<aside class="index">
  <span class="index-anchor"><span>post index</span></span>
  <section class="index-content">
    {% for post in site.posts %}
 
      <a href="{{ site.baseurl }} {{ post.url }}" class="post-view-post">
        <span>{{ post.title }}</span><span>{{ post.date | date: '%m.%d.%Y' }}</span></a>
     {% endfor %}
  </section>
</aside>
